h1 {
  color: blue;
  text-align: left;

}
body{

    background-color: green;
    align-content: flex-start;
    font-family: sans-serif;

}
. important {
  color: green;
}
img {
   float: right;
}
.sidebar {
  width: auto;
  float: right;

}
h2 {
  color: blue;
  text-align: left;
}
.test-box {
  border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid black
}
.test-box {
  border: 2px solid red;
  padding:6px
  margin: 20px
  background-color: yellow
}
