h1 {
  color: blue;
  text-align: left;
}
body{

    background-color: yellow;
    align-content: flex-start;
    font-family: sans-serif;

}
. important {
  color: green;
}
img {
   float: right;
}
.sidebar {
  width: auto;
  float: right;

}
